# Basic of python

#### 1. Basic
- 1.1 Adding Comment
- 1.2 Print function
- 1.3 Statements

#### 2. Python Identifiers

- 2.1 Variable assignment
- 2.2 Assigning 'string' (str) value to variable
- 2.3 Assigning numerical value to variable
- 2.4 We can recall variable name for printing output instead of using print function (only in jupyter notebook)

### 1.1 Adding Comment :
- To add comment we can use either  ' # ' in code or direct write down in Markdown . 
- Also we can use  """ Hello World  """ for multiple lines .

In [ ]:
# adding comment

In [ ]:
# Single line comment
var1 = 9

In [ ]:
# sub of two numbers
10-5

In [ ]:
# Multiple
# line
# comment
val1 =7

In [ ]:
'''
Multiple
line
comment
'''
val1 = 7

### 1.2 Print function :
In python if we want call function then we can use simply their name follwed by arguments if exists in parentheses.

In [ ]:
# For example in print function we give what we need to print in parentheses

In [ ]:
# Lets run our first python code by printing "Hello World" 
print("Hello World")

In [ ]:
print('''Hello World! Let's Learn Python together''')

In [ ]:
print('Python is the best language')

### 1.3 statements

In [ ]:
# Single line statement
p1 = 50 + 50
p1

In [ ]:
# Multiple line statement
p1 = 20 + 30 + 40 + 50 \
     + 70 + 80 + 90 +100 \
     +110 + 120 
p1

### 2. Python Identifiers :
It is a identifier/name used to define a variable , function , class. It is used to make difference between entities.

###### We have to take care of following things while writing identifiers
1. It can be of any length . 
2. It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).
3. It can't be start with digit.
4. It can't be include special symbols like { !, @, #, $ , % }, etc
5. We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.
6. We can't give space between letters, words or between letter and digit.
7. We can't use python keywords as a python identifier

-- Python keywords :

**in , and , or , if , else , elif , def , while , break , True , False , etc .**

python keywords are used to define the syntax and structure of the Python language.

In [ ]:
## Examples of python identifiers

We can write identifier of any length like 
- myname
- myvillage
- myschoolmarks

We can combine letters and words while writing identifiers
- Myname 
- Mybirth19Nov
- myfavNo7

Identifiers using underscore  
- my_name 
- my_number 
- my_village

We can't start our identifier by digit
- 1stvariable 
- 19thnumber

We can't include any special symbol at any position while writing identifier 
- name@
- hello!
- time@2pm
- $rupees
- #brand

We can't write identifier using space between characcters 
- my name 
- my number 
- my village

### 2.1 Variable assignment :

#### Variable is used to store value and we use '=' i.e. assignment operator to assign value to it. 
####  We can assign any value to variable i.e. both categorical and numerical.

#### 2.2  Assigning 'string' (str) value to variable

In [ ]:
# here we assign sufiyan value to my_name variable
my_name = "Sufiyan"
print(my_name)

In [ ]:
# we can check type of variable i.e type of it's value 
type(my_name)

In [ ]:
# also we can use single Quotation mark i.e. ' ' for assigning string value to variable
myname='Aaira'
print(my_name)

In [ ]:
# we can also add space after assignment operator and in between Quotation marks for presentation or understanding purpose
my_name = "  Aaira " 
print(my_name)

In [ ]:
my_city  =  '  Mumbai    '
print(my_city)

In [ ]:
# but we can use either single Quotation mark or double Quotation mark at a time, ow it will give an error 
my_name = " sufiyan "

In [ ]:
# we can update value of variable and once variable get updated it will give updated value after calling this variable

In [ ]:
my_name= "Sufiyan"
print(my_name)

In [ ]:
# we can assign whole statement to single variable 
place = '''I am live in Mumbai.
bandra '''
print(place)

In [ ]:
my_info = 'sufiyan'
print(my_info)

In [ ]:
my_info = 'Mumbai'
print(my_info)

#### 2.3  Assigning numerical value to variable

#### There are two types of numbers 
 1.  integer :An integer is a number with no decimal or fractional part, from the set of negative and positive numbers,         including zero 
 2.  float   :A float is a number with a decimal place

In [ ]:
# here we assign integer number 10 to my_number variable
my_number =  10
print(my_number)

In [ ]:
type(my_number)

In [ ]:
# we can also update interger value of variable
my_number = 15
print(my_number)

In [ ]:
my_number1 = 31
print(my_number1)

In [ ]:
# here we assign real number 5.4 to my_num variable
my_num = 3.8
print(my_num)

In [ ]:
type(my_num)

In [ ]:
# we can update real value of variable 
my_num = 12.7
print(my_num)

In [ ]:
my_num1 = 43.1
print(my_num1)

#### 2.4  We can recall variable name for printing output instead of using print function

In [ ]:
my_name

In [ ]:
my_info

In [ ]:
print(8)

In [ ]:
my_number

In [ ]:
# jupyter notebook cell prints last code line 
my_name
my_number

In [ ]:
# if we want print more outputs of same cell then we need to use print function
print(my_name)
my_number

#### 2.5  Multiple Assignments

In [ ]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

In [ ]:
a = b = c = d = 21 # All variables pointing to same value
print(a,b,c,d)

# Data Types
1. Numeric - Float and integer
2. String
3. Boolean

In [ ]:
# Numeric
val1 = 10 # Integer data type
val2 = 10.2 # Float data type
print(val1)
print(val2)

In [ ]:
# Boolean
# Boolean data type can have only two possible values true or false.
bool1 = True
bool2 = False
print(bool1)
print(bool2)

In [ ]:
# string
str1 = "HELLO PYTHON"
print(str1)